<div class="c-product-view" *ngIf="(!isLoading && product$ | async) as product; else loading">
  <h1 class="mat-title">Product Details <small>({{ product.id }})</small></h1>
  <mat-list>
    <div mat-subheader>Title</div>
    <mat-list-item>
      <h1>{{ product.title | titlecase }}</h1>
    </mat-list-item>
    <mat-divider></mat-divider>

    <div mat-subheader>Category</div>
    <mat-list-item>
      <h1>{{ product.category | titlecase }}</h1>
    </mat-list-item>
    <mat-divider></mat-divider>

    <div mat-subheader>Price</div>
    <mat-list-item>
      <p>{{ (product.price | currency : 'EUR' ) }}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="c-product-view__description">
    <h2 class="mat-body-3">Description</h2>
    <mat-list-item>
      <p *ngIf="product.description; else emptyDescription">{{ product.description }}</p>
      <ng-template #emptyDescription><p>This product has no description.</p></ng-template>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>

  <div class="c-product-view__reviews">
    <h2 class="mat-body-3">Reviews</h2>
    <mat-list *ngIf="product.reviews; else emptyReviews">
      <mat-list-item class="c-product-view__reviews__item" *ngFor="let review of product.reviews">"{{ review }}"</mat-list-item>
    </mat-list>

    <ng-template #emptyReviews>
      <p>This product has no reviews.</p>
    </ng-template>
  </div>

  <mat-divider></mat-divider>

  <div class="c-product-view__footer">
    <div mat-line class="c-product-view__footer__employee">
      Product created by <span class="c-product-view__footer__employee__name">{{ product.employee }}</span>
    </div>
    <div mat-line class="c-product-view__footer__actions">
      <button class="c-product-view__footer__actions__bt" mat-flat-button color="primary" [routerLink]="['/dashboard']">Back to dashboard</button>
      <button class="c-product-view__footer__actions__bt" mat-stroked-button color="warn" (click)="openDeleteDialog(product)">Delete Product</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading [caption]="loadingCaption"></app-loading>
</ng-template>
