<form class="c-product-form" [formGroup]="productForm" (submit)="onFormSubmit()">
  <h1 class="mat-title">Register a new product</h1>

  <mat-form-field class="c-product-form__input" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="productForm.get('title').errors">Product title is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="c-product-form__input" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="c-product-form__input --bottom-spaced" appearance="outline">
    <mat-label>Category</mat-label>
    <input
      matInput
      formControlName="category"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{category.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Tip: you can select any existing category from the list or write to create a new one.</mat-hint>
    <mat-error *ngIf="productForm.get('category').errors">Product category is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="c-product-form__input" appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" min="0">
    <span matSuffix>€</span>
    <mat-error *ngIf="productForm.get('price').errors">
      <span *ngIf="productForm.get('price').errors.required">Price is can't be empty.</span>
      <span *ngIf="productForm.get('price').errors.pattern">No "points" or special characters allowed.</span>
    </mat-error>
  </mat-form-field>

  <div class="c-product-form__reviews">
    <h2 class="mat-body-2">Reviews</h2>
    <mat-card
      class="c-product-form__reviews__item"
      formArrayName="reviews"
      *ngFor="let review of reviews.controls; let i = index"
    >
      <div [formGroupName]="i" class="c-product-form__reviews__item__content">
        <mat-form-field class="c-product-form__reviews__item__content__input">
          <textarea matInput formControlName="review"></textarea>
        </mat-form-field>
        <button mat-stroked-button color="primary" type="button" (click)="removeReview(i)">Remove</button>
      </div>
    </mat-card>
    <button mat-stroked-button color="primary" type="button" (click)="addReview()" class="c-product-form__reviews__add">
      <mat-icon>add_comment</mat-icon> Add Review
    </button>
  </div>

  <button mat-flat-button color="primary" type="submit">Save Product</button>
</form>
